.testimonials-title {
    display: flex;
    justify-content: center;
}

.rating-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rating-card {
    width: 8.5rem; 
    height: 8.5rem;
    padding-top: 1%;
    padding-left: 1%;
    border-radius: 1rem ;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem; 
    background-color: #edefee;
}

.rating-card-img{
    width: 4.5rem;
    height: auto;
    border-radius: 8pt;
}


.rating-card h3 {
    font-size: 1rem; 
    margin:0.5rem 0; 
}
.rating-card h4 {
    font-size: .65rem; 
    margin:0; 
}

.rating-card p {
    font-size: 0.6rem; /* Smaller font size for content */
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    white-space: wrap; /* Prevent text from wrapping */
  }