* {
  font-family: "Karla", sans-serif;
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: 1fr 3fr 2fr 2fr 3fr 1fr;
  grid-template-areas:  ". header-container header-container header-container header-container ."
                        ". main-container main-container main-container main-container ."
                        ". this-weeks-specials this-weeks-specials this-weeks-specials this-weeks-specials ."
                        ". testimonials testimonials testimonials testimonials ."
                        ". about about about about ."
                        ". footer-container footer-container footer-container footer-container .";
}

.header-container {
  grid-area: header-container;
}
.main-container {
  grid-area: main-container;
}

.this-weeks-specials {
  grid-area: this-weeks-specials;
}
.testimonials {
  grid-area: testimonials;
}
.about {
  grid-area: about;
}
.footer-container {
  grid-area: footer-container;
}

@media (max-width: 1024px) {
  .layout {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* Remove the empty columns */
    grid-template-areas:  
      "header-container header-container header-container header-container"
      "main-container main-container main-container main-container"
      "this-weeks-specials this-weeks-specials this-weeks-specials this-weeks-specials"
      "testimonials testimonials testimonials testimonials"
      "about about about about"
      "footer-container footer-container footer-container footer-container";
  }
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Further adjust for smaller screens */
    grid-template-areas:  
      "header-container header-container"
      "main-container main-container"
      "this-weeks-specials this-weeks-specials"
      "testimonials testimonials"
      "about about"
      "footer-container footer-container";
  }
}

@media (max-width: 480px) {
  .layout {
    grid-template-columns: 1fr; /* Single column layout for very small screens */
    grid-template-areas:  
      "header-container"
      "main-container"
      "this-weeks-specials"
      "testimonials"
      "about"
      "footer-container";
  }
}
